/*
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

*/

.buttons {
    font-family: 'Arial',sans-serif;
    font-weight:500;
    cursor:pointer;
    border-radius:30px;
    outline:none;
    background-color:#fff;
    border-width: 2px;
    color: #555;
  padding:5px 40px 5px 20px;
  }
  
  .primary {
    border-color:blue;
  }
  .secondary {
    border-color: yellow;
  }
  .success {
    border-color: green;
  }
  .danger {
    border-color: red;
  }
  .default {
    border-color: grey;
  }
  